body {
  background-color: #e8ddd4;
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  color: #2f2e41;
  margin-bottom: 0;
  font-size: 30px;
}
h2 {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  text-align: left;
  font-size: 14px;
}

footer {
  text-align: center;
  color: #2f2e41;
}

.weather-app-wraper {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 10px;
  max-width: 650px;
  height: 650px;
  background-color: #fff;
}

.resultCity {
  text-align: center;
  color: #2f2e41;
  margin-bottom: 0px;
  font-size: 26px;
}

.degreeTemperature {
  margin: 0;
  padding: 0;
  margin-right: 0;
}
.background-image {
  border-radius: 20px;
}

.fa-wind {
  padding-right: 5px;
}
.fa-tint {
  padding-right: 10px;
}

.inspirationalQuote {
  text-align: center;
  margin-top: 30px;
  color: #184443;
  font-size: 36px;
  font-family: "Amatic SC", cursive;
}

.weather-forecast-temp {
  font-size: 14px;
}

.weather-forecast-temp-min {
  opacity: 0.6;
}

.projectLink {
  text-align: center;
  font-size: 12px;
  margin-top: 8px;
}

.projectLink span,
a {
  color: #184443;
  font-weight: 600;
}

#search-form {
  font-family: "Roboto", sans-serif;
}

#search-city {
  margin: 50px 10px 50px 50px;
  padding: 5px 10px;
  border: 2px solid #7e564e;
  border-radius: 5px;
}

#search-button {
  color: #fff;
  background-color: #ad766c;
  padding: 5px 10px;
  border: 2px solid #7e564e;
  border-radius: 5px;
}

#search-button:hover {
  color: #fff;
  background-color: #7e564e;
}

#search-GPS-coordinates {
  position: relative;
  top: 5px;
  font-size: 35px;
  color: #4f7a7e;
  margin-left: 20px;
}

#search-GPS-coordinates:hover {
  color: #36595c;
}

#current-date {
  text-align: center;
  font-size: 20px;
  margin-top: 0px;
  color: #2f2e41;
}

#units {
  position: relative;
  font-size: 16px;
  top: -10px;
}

#weatherOverview .col-6 {
  padding: 0px;
}

#currentWeather-icon {
  position: relative;
  margin-top: -30px;
  float: right;
}

#weather-forecast {
  margin: 0 auto;
}
#weather-forecast .col-2 {
  margin: 0 auto;
}
